@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

    font-size: 100%;
}

body {
    font-family: sans-serif;
		margin:0;
		padding:0;
	/**	background: url("../images/basiccactus.jpg")no-repeat center center;**/
		background-size: cover;
}

header{
		width: 100%;
		position: fixed;
		background-color: black;
		z-index: 1000;
}

h1{
	font-family: sans-serif;
	color: #9BE2B1;
	font-size: 60px;
	letter-spacing: .1em;
	text-align: center;
	line-height: 60px;
	z-index: 1001;

	margin: 0;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-right: -50%;
	 transform: translate(-50%, -50%) }
}

h2{
	text-align: center;

}

h3{
	font-family: sans-serif;
	color: black;
	font-size: 25px;
	letter-spacing: normal;
	line-height: 37px;
	margin:0;
	margin-left: .5em;
	color: #007DA4;
	text-align: left;
}

.h3orange {
	color: #BF5D57;
	padding-top: 1em;

}

h4{
	font-family: sans-serif;
	color: white;
	text-decoration: underline;
	font-size: 18px;
	text-align: center;
	line-height: 37px;
	padding-top: 2em;
	margin:0;
}

h5{
	font-family: sans-serif;
	color: white;;
	font-size: 18px;
	text-align: center;
	line-height: 37px;
	padding-top: 2em;
	margin:0;
}

h6{
	font-size: 1.5em;
	line-height: 1.3em;
	margin: 1rem;
}

.banner{
	position: relative;
	margin-top: -425px;
	width: 1920px;
	height: 1080px;
	background-color:#BF5D57;
	/**	background: url(../images/banner.jpg) no-repeat;**/
	background-size: cover;
}

.nav{
	font-size: 15px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding-bottom: 1rem;
	color: white;

}

.nav li {
	list-style: none;
	padding-top: 2rem;
}

a{
	color: white;
	text-decoration: none;
}

a:link {
    text-decoration: none;
		color: white;
		text-align: center;
}

a:hover {
    color:  #9BE2B1;
		width: 100%;
		text-align: center;
		margin: 0;
		text-decoration: none;
}

.logo {
	width: 10%;
	display: block;
	margin: auto;
	padding-top: 1.3em;
	padding-bottom: 1rem;
}

.logo img {
	width:90%;
}

.square{
	background-color: black;
	padding-bottom: 2em;
}

.square2{
	background-color: grey;
	padding-top: 10rem;
	height: 20em;
	border-color: white solid 3px;
}

.portfoliolink{
	padding-top: 8em;
}


.grid {
	width: 100%;
	margin: 0;
}


.description {
	font-family: Domine,sans-serif;
	margin-top: 1rem;
	color: white;
	font-size: 12px;
	text-align: center;
}

p {
	font-family: Domine,sans-serif;
	font-size: 14px;
	padding: 1em;
	line-height:1.8em;
}


.btn {
  display: block;
	width:70%;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: 50px;
	border: none;
	color: white;
	background-color: #9BE2B1;
}

.skills {
	text-align: center;
	color: white;
}

.backgroundskills {
		background-color: black;
}

.tools {
	text-align: center;
	margin: 0;
	padding: 0;
}

.form {
	display: block;
	text-align: center;
	margin: 0;
	padding: 4rem;
	background-color: black;
	color: white;
	background-color: #BF5D57;
	/*background: url(../images/stars.jpg) no-repeat;*/
	background-size: cover;
}
.socialmedia{
	color: blue;
}

.contact {
	text-align: center;
	padding-bottom: 2em;
	font-size: 3em;
	color: white;
}

footer{
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: black;
	justify-content: center;
	align-items: center;
	display: flex;

}

@media only screen and (min-width: 25em) {

h1 {
	padding-top: 3em;
}

.portfoliolink{
		padding-top: 8em;
}


.square2 {
	background-color: grey;
	padding-top: 5rem;
	margin-top: 1rem;
	height: 20em;
	border-color: white solid 3px;
}


.uxpic {
	margin-top:5px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h6 {
	text-align: left;
}

h6 span {
	color: blue;
}

@media only screen and (min-width: 38em) {

h1 {
	padding-top: 0;
}

h2 {
	text-align: center;
	margin-top: 5rem;
	padding-top: 4rem;
}

.h3 {
	text-align: left;
}

h6 {
	padding-left: 3em;
	padding-right: 3em;
	text-align: center;
}
	.logo{
		width: 5%;
		display: block;
		margin-top: 2rem;
		margin-bottom: 1rem;
		margin-left: 2rem;
		float: left;
		padding: 0;
		display: block;
	}

		.nav{
			font-size: 15px;
			margin: 0;
			font-family: sans-serif;
			float: right;
			width: 50%;
			text-align: right
		}

		.nav li{
			display: inline-block;
			text-align: left;
			padding-right: 2em;
		}


		.uxpic{
			margin-top:5px;
			width: 100%;
		}

}

@media only screen and (min-width: 60em) {

	.logo{
		width: 3%;
	}
	.description {
		padding-left: 6em;
		padding-right: 6em;
		margin-top: 1rem;
		color: white;
		font-size: 12px;
		text-align: center;
	}

	.title-description{
		padding-left: 18em;
		padding-right: 18em;
		font-size: 1em;
	}


h6{
	padding-left: 14em;
	padding-right: 14em;
	text-align: center;
	}
}
