---
---
@charset  "utf-8";
@-moz-viewport {
	width: device-width;
	scale: 1;
}
@-ms-viewport {
	width: device-width;
	scale: 1;
}
@-o-viewport {
	width: device-width;
	scale: 1;
}
@-webkit-viewport {
	width: device-width;
	scale: 1;
}
@viewport {
	width: device-width;
	scale: 1;
}
@font-face {
	font-family: ArcaMajoraBold;
	src        : url('{{site.baseurl}}/fonts/ArcaMajora3-Bold.woff');
}
@font-face {
	font-family: ArcaMajoraHeavy;
	src        : url('{{site.baseurl}}/fonts/ArcaMajora3-Heavy.woff');
}

.hidden {
	display   : none;
	visibility: hidden;
}

* {
	-moz-box-sizing   : border-box;
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	font-family       : ArcaMajoraBold, sans-serif;
}

html {
	-moz-text-size-adjust   : 100%;
	-ms-text-size-adjust    : 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust        : 100%;
	font-size               : 100%;
}

body {
	font-family    : ArcaMajoraBold sans-serif;
	margin         : 0;
	padding        : 0;
	background-size: cover;
}

header {
	width           : 100%;
	position        : absolute;
	background-color: rgba(0, 0, 0, 0.4);
	z-index         : 1000;
}

.video{
	max-width: 100%;
 	height: auto;
	margin: 0 auto;
}

.wordmark {
	top  : 40%;
	width: 70%;
}

h1 {
	font-size    : 1em;
	color        : #12EDFF;
	text-align   : center;
	z-index      : 1;
	margin       : 0;
	padding-left : 1rem;
	padding-right: 1rem;
}

#uxuih1 {
	padding-top: 50%;
}

#error {
	padding-top: 5%;
	font-size: 1.3em;
}

#black {
	color: black;
}

h3 {
	color         : black;
	font-size     : 25px;
	letter-spacing: normal;
	line-height   : 37px;
	margin        : 0 0 0 0.5em;
	color         : #007DA4;
	text-align    : left;
}

.h3blue {
	margin-top     : 1em;
	color          : #12EDFF;
	margin-left    : -3em;
	padding-left   : 3.2em;
	background-size: auto;
	font-size      : 74px;
	line-height    : 76px;
}

h4 {
	color          : white;
	text-decoration: underline;
	font-size      : 18px;
	text-align     : center;
	line-height    : 37px;
	padding-top    : 2em;
	margin         : 0;
}

h5 {
	color      : white;
	font-size  : 30px;
	text-align : center;
	line-height: 37px;
	padding-top: 1em;
	margin     : 0;
	color      : #12EDFF;
}

h6 {
	font-size  : 1.5em;
	line-height: 1.3em;
	margin     : 1rem;
	text-align: center;
}

.banner {
	position       : relative;
	margin-bottom  : 20px;
	width          : 2500px;
	height         : 100vh;
	background     : url('../images/banner-cacti.jpg') no-repeat;
	background-size: cover;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
}

.banner-uxui {
	position       : relative;
	margin-bottom  : 20px;
	width          : 2500px;
	height         : 100vh;
	background     : url('../images/uxui-banner.jpg') no-repeat;
	background-size: cover;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
}

.banner-printmedia {
	position       : relative;
	margin-bottom  : 20px;
	width          : 2500px;
	height         : 100vh;
	background     : url('../images/printmedia.jpg') no-repeat;
	background-size: cover;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
}

.banner-branding {
	position       : relative;
	margin-bottom  : 20px;
	width          : 2500px;
	height         : 100vh;
	background     : url('../images/branding.jpg') no-repeat;
	background-size: cover;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
}

.nav {
	font-family    : ArcaMajoraBold sans-serif;
	font-size      : 15px;
	width          : 100%;
	text-align     : center;
	text-decoration: none;
	padding-bottom : 1rem;
	color          : white;
}

.nav li {
	list-style : none;
	padding-top: 2rem;
}

a {
	color          : white;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color          : white;
	text-align     : center;
}

.link:hover {
	color          : #12EDFF;
	width          : 100%;
	text-align     : center;
	margin         : 0;
	text-decoration: none;
}

.logo {
	width         : 10%;
	display       : block;
	margin        : auto;
	padding-top   : 1.3em;
	padding-bottom: 1rem;
}

.logo img {
	width: 100%;
}

.squareuxui {
	padding-bottom : 2em;
	margin-top     : -2em;
	background     : url('../images/uxui-banner.jpg') no-repeat;
	background-size: cover;
}

.squarepm {
	background     : url('../images/printmedia.jpg') no-repeat;
	background-size: cover;
	padding-bottom : 2em;
	margin-top     : -2em;
}

.squareb {
	background      : url('../images/branding.jpg') no-repeat;
	background-size : cover;
	background-color: black;
	padding-bottom  : 2em;
	margin-top      : -2em;
}

.square2 {
	background-color: grey;
	padding-top     : 10rem;
	height          : 20em;
	border-color    : white solid 3px;
}

.portfoliolink {
	padding-top: 8em;
}

.grid {
	width : 100%;
	margin: 0;
}

.description {
	margin-top : 0;
	color      : white;
	font-size  : 12px;
	text-align : center;
	width      : 100%;
	text-align : center;
}

p {
	font-family: 'Slabo 27px', serif;
	font-size  : 14px;
	padding    : 1em;
	line-height: 1.8em;
}

.p1 {
	padding-left : 3rem;
	padding-right: 3rem;
	text-align   : center;
	padding-top  : 0;
	line-height  : 1.8em;
	color        : white;
}

.chill {
	font-size: 1.3em;
	padding-left : 3rem;
	padding-right: 3rem;
	text-align   : center;
	padding-top  : 0;
	line-height  : 1.8em;
	color        : white;
}

.btn {
	display         : block;
	font-size       : 1em;
	margin          : 0 auto;
	width           : 40%;
	height          : 50px;
	line-height     : 50px;
	border          : none;
	color           : white;
	background-color: #12EDFF;
	z-index         : 1;
}

.btn:hover {
	background-color: black;
	border          : 2px dashed white;
	color           : #12EDFF;
}

.btn1 {
	display         : block;
	font-size       : 1em;
	margin-left     : auto;
	margin-right    : auto;
	width           : 20%;
	height          : 50px;
	border          : none;
	color           : white;
	background-color: #12EDFF;
	z-index         : 1;
}

.btn1:hover {
	background-color: black;
	border          : white 2px;
	border-style    : dashed;
}

.backgroundskills {
	background-color: black;
}

.tools {
	text-decoration: none;
	text-align     : center;
	margin         : 0;
	padding        : 1em 0 2em;
	font-size      : 2em;
}

.skills {
	text-align : center;
	color      : white;
	font-family: ArcaMajoraBold;
}

.tool-icon {
	margin-left : auto;
	margin-right: auto;
}

.form {
	display         : block;
	text-align      : center;
	margin          : 0;
	padding         : 4rem 4rem 15em;
	background-color: white;
	background      : url('../images/stars.jpg') no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
	background-size : cover;
}

.socialmedia {
	text-align : center;
	padding-top: 1em;
	font-size  : 20px;
}

.contact {
	text-align    : center;
	padding-bottom: 2em;
	font-size     : 3em;
	color         : white;
}

.stuff {
	padding         : 1em;
	text-align      : center;
	color           : black;
	background-color:
}

.info {
	color      : white;
	font-size  : 1em;
	font-family: sans-serif;
}

.parkhere {
	max-width   : 100%;
	margin-left : auto;
	margin-right: auto;
}

.artwork {
	background-color: black;
	padding-top     : 0;
	margin-left     : auto;
	margin-right    : auto;
	text-align      : center;
	padding-bottom  : 0;
}

#letschat {
	color      : #12EDFF;
	padding-top: 3em;
}

.contactme {
	color: white;
}

#email {
	color      : #12EDFF;
	padding-top: -3em;
}

#email:hover {
	color           : white;
	background-color: black;
}

.location {
	text-align: center;
	font-size : 15px;
	color     : lightgray;
}

footer {
	padding-top     : 1rem;
	background-color: black;
	justify-content : center;
	align-items     : center;
	display         : flex;
	width           : 100vw;
}

h2.title-project {
	color     : #003B4C;
	text-align: center;
	width     : 100%;
}

.myphoto {
	max-width: 100%;
}

.myphotowrap {
	position: relative;
}

.error404{
	display         : block;
	text-align      : center;
	margin          : 0;
	padding         : 0;
	background-color: #003B4C
	background      : url('../images/error-page.jpg') no-repeat;
	background-color: rgba(0, 0, 0, 0.9);;
	background-size : cover;
	}
}

@media only screen and (min-width: 25em) {

	.video{
		display: block;
		margin: 0 auto;
	}
	.chill {
		font-size: 1.5em;
	}

	.portfoliolink {
		padding-top: 8em;
	}

	h1 {
		width    : 100%;
		font-size: 1em;
	}

	.p1 {
		font-size    : 20px;
		padding-left : 2em;
		padding-right: 2em;
	}

	.square2 {
		background-color: grey;
		padding-top     : 5rem;
		margin-top      : 1rem;
		height          : 20em;
		border-color    : white solid 3px;
	}

	.uxpic {
		margin-top  : 5px;
		margin-left : auto;
		margin-right: auto;
		width       : 100%;
	}
}

.sadcactus{
	display: block;
  margin: auto;
  width: 50%;
	padding-top: 19em;
}

@media only screen and (min-width: 25em) {
	.sadcactus{
		display: block;
	  margin: auto;
	  width: 28%;
		padding-top: 18em;
	}


	.wordmark {
		padding-top: 10rem;
	}

	h4 {
		text-align: center;
	}

	header {
		margin : 0;
		padding: 0;
	}

	.description {
		font-size: 15px;
	}

	h1 {
		padding-top: 1em;
	}
}
@media only screen and (min-width: 38em) {
	.sadcactus{
		display: block;
	  margin: auto;
	  width: 20%;
		padding-top: 6em;
	}


	#error{
	font-size: 2em;
	}

	.chill {
		font-size: 2em;
	}

	.parkhere {
		max-width   : 80%;
		margin-left : auto;
		margin-right: auto;
	}

	.artwork {
		background-color: black;
		padding-top     : 2em;
		margin-left     : auto;
		margin-right    : auto;
		text-align      : center;
		padding-bottom  : 3em;
	}

	.wordmark {
		width: 80%;
	}

	.description {
		padding-left : 2em;
		padding-right: 2em;
		color        : white;
		font-size    : 15px;
		text-align   : center;
	}

	h1 {
		top      : 56%;
		width    : 100%;
		font-size: 2em;
	}

	#uxuih1 {
		padding-top: 1em;
	}

	.p1 {
		padding-left : 8em;
		padding-right: 8em;
	}

	h2 {
		text-align : center;
		margin-top : 5rem;
		padding-top: 1rem;
	}

	.h3 {
		text-align: left;
	}

	h6 {
		padding-left : 3em;
		padding-right: 3em;
		text-align   : center;
	}

	.logo {
		width        : 5%;
		display      : block;
		margin-top   : 2rem;
		margin-bottom: 1rem;
		margin-left  : 2rem;
		float        : left;
		padding      : 0;
		display      : block;
	}

	.title-description {
		padding-left : 9em;
		padding-right: 9em;
		font-size    : 1em;
		color        : #003B4C;
	}

	.nav {
		font-size  : 15px;
		margin     : 0;
		font-family: sans-serif;
		float      : right;
		width      : 50%;
		text-align : right;
	}

	.nav li {
		display      : inline-block;
		text-align   : left;
		padding-right: 2em;
	}

	.uxpic {
		margin-top: 5px;
		width     : 100%;
	}

	.btn1 {
		padding-top: 0;
		margin-top : 25em;
	}

	.btn1:hover {
		background-color: #007DA4;
	}

	.myphoto {
		position : absolute;
		max-width: 40%;
		bottom   : 0;
	}
}
@media only screen and (min-width:60em) {
	h1 {
		top      : 60%;
		font-size: 2em;
	}

	.logo {
		width: 3%;
	}

	.p1 {
		padding-left : 18em;
		padding-right: 18em;
	}

	.description {
		padding-left : 3em;
		padding-right: 3em;
		color        : white;
		font-size    : 12px;
		text-align   : center;
	}

	.title-description {
		text-align   : justify left;
		padding-left : 23em;
		padding-right: 23em;
		font-size    : 1em;
		color        : #003B4C;
	}

	h6 {
		padding-left : 14em;
		padding-right: 14em;
		text-align   : center;
	}

	.myphoto {
		max-width: 30%;
	}
}
@media only screen and (min-width: 80em) {
	.wordmark {
		width: 40%;
	}

	#email {
		font-size: 20px;
	}

	h4 {
		font-size: 1.3rem;
	}

	p {
		font-size: 1.3rem;
	}

	.description {
		padding-left : 7em;
		padding-right: 7em;
		color        : white;
		font-size    : 15px;
		text-align   : center;
	}

	h1 {
		top      : 60%;
		font-size: 2em;
	}

	.myphoto {
		width: 400px;
	}
}
