<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title> Valeria Gamiz — Graphic Design Portfolio  </title>
  <meta name="description" content="Algonquin College Graduate 2017, specialized in <strong> UX/UI (User Experience and Interface Design), Print Media</strong> and  </strong> Branding </strong> in Ottawa, Canada. Available for freelancing."
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <!-- <link href="{{site.baseurl}}/uxui-project.html" rel="stylesheet"> -->
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,intial-scale=1">
  <meta property="og:title" content="Valeria Gamiz Antunez - Graphic Designer" />
  <meta property="og:type" content="Portfolio" />
  <meta property="og:url" content="http://www.gamizvaleria.com" />
  <meta property="og:image" content="I SITLL DON'T KNOW WHAT TO PUT HERE" />
  <meta property="og:description" content=" Algonquin College Graduate 2017, specialized in  print media, ux/ui and branding, here are some samples of her portfolio. Valeria Gamiz Antunez, Graphic Designer in Ottawa, Canada. Available for freelancing." />
  <meta name="twitter:card" content="Graphic Designer, Ottawa Canada. Specialized in UX/UI, Print Media and Branding.">
  <meta name="twitter:url" content="https://twitter.com/tarolitas?lang=en">
  <meta name="twitter:description" content="Graphic Designer, Ottawa Canada. Specialized in UX/UI, Print Media and Branding. energetic, inspired and passionate designer who sees everyday as an oportunity to learn more. I believe that design must be beautiful and useful; so what I can offer is as many creative solutions as possible.">
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/674687446672625664/6kOr56M8.jpg">
  <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
<body>
</head>
<body>
    <header class="unit-s-1">
      <div class="logo">
        <a href="{{site.baseurl}}/index.html">
          <img src="{{site.baseurl}}/images/logowhite.png" alt="Valeria Gamiz Antunez Logo">
        </a>
      </div>

       <nav>
         <ul class="nav">
           <li><a class="link" href="{{site.baseurl}}/">Home</a></li>
           <li><a class="link" href="{{site.baseurl}}/#portfolio">Portfolio</a></li>
           <li><a class="link" href="{{site.baseurl}}/#contact">Contact</a></li>
         </ul>
       </nav>

    </header>

    <main>
      {{content}}
    </main>



    <footer>
      <div class="socialmedia">
          <a class="link" itemprop="url" href="https://www.instagram.com/gamizvaleria/">instagram · </a>
          <a class="link" itemprop="url" href="https://twitter.com/tarolitas">twitter ·</a>
          <a class="link" itemprop="url" href="https://www.behance.net/gamizvaler93d0">behance</a>
      <div>
      </div class="socialmedia">
          <p class="location unit xs-1 sm-1 m-1 l-1 ">Graphic Designer
          Ottawa, Ontario, Canada & Hermosillo, Sonora, México</p>
      </div>
    </footer>
</body>
</html>
